.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
}

.nav button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekday {
  text-align: right;
  font-size: 1rem;
  padding: 0 0.75rem 0.5rem 0;
}

.day {
  display: flex;
  flex-direction: column;
  min-height: calc((100vh - 120px) / 5);
  padding: 0.5rem 0.75rem;
  border: 1px solid #404040;
  overflow-y: auto;
  text-align: right;
}

.event {
  font-size: 0.75rem;
  background-color: #294860;
  padding: 0.125rem 0.5rem;
  border-radius: 2px;
  text-align: left;
  cursor: pointer;
}
